.title-go {
  margin: 0;
  color: #fff;
  text-align: left;
  font-size: 150px;
  font-family: Arial;
  font-weight: 900;
  letter-spacing: -15px;
  text-transform: uppercase;
}

.text-img {
  margin: 0;
  color: #fff;
  font-size: 28px;
  font-family: Arial;
  text-align: center;
  padding-right: 600px;
}

.banner {
  background: url('../image/halls/vr.png');
  max-width: 1180px;
  min-height: 762px;
  margin: 0 auto;
  position: relative;
  background-position: right;
  background-repeat: no-repeat;

  margin-bottom: 100px;
}

.title-halls {
  color: #fff;
  text-align: center;
  font-size: 40px;
  font-family: Arial;
  font-weight: 700;
  line-height: 50px;
  text-transform: uppercase;
  margin-bottom: 60px;
  margin-top: 0;
}

.hall-80 {
  background-image: url('../image/halls/80s.jpg');
}

.hall-star {
  background-image: url('../image/halls/starwars.jpg');
}

.hall-wild {
  background-image: url('../image/halls/wildwest.jpg');
}

.hall-neon {
  background-image: url('../image/halls/neonstyle.png');
}

.halls {
  margin-bottom: 100px;
}

.hall {
  padding: 275px 485px 275px 484px;
  text-align: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  min-width: 1180px;
  min-height: 710px;
  margin-bottom: 60px;
  list-style-type: none;
}

.hall:last-child {
  margin-bottom: 0;
}

.text-hall {
  color: #fff;
  font-size: 70px;
  font-family: Arial;
  font-weight: 700;
  line-height: 80px;
  text-transform: uppercase;
  margin: 0;
}

.title-booking {
  margin: 0;
  color: #fff;
  text-align: center;
  font-size: 40px;
  font-family: Arial;
  font-weight: 700;
  line-height: 50px;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.booking-fieldset {
  margin: 0;
}

.booking {
  margin-bottom: 100px;
}

.title-about-us {
  color: #fff;
  text-align: center;
  font-size: 40px;
  font-family: Arial;
  font-weight: 700;
  line-height: 50px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 50px;
}

.text {
  margin: 0;
  margin-bottom: 28px;
}

.sub-text {
  margin: 0;
  margin-bottom: 78px;
}

.about-us {
  margin-bottom: 100px;
}

.quote {
  text-transform: uppercase;
  margin: 0;
  text-align: right;
}

.quote-text {
  margin: 0;
  color: #fff;
  font-size: 44px;
  font-family: Arial;
  line-height: 50px;
  text-transform: uppercase;
  text-align: left;
}

.quote-sub {
  margin-bottom: 40px;
}

.quote-go:before,
.quote-sub:after {
  content: '';
  display: inline-block;
  width: 38.984px;
  height: 34.406px;
  color: #6c0287;
  background-size: contain;
}

.quote-go:before {
  background-image: url('../image/icon/“.svg');
}

.quote-sub:after {
  background-image: url('../image/icon/“.svg');
  transform: rotate(180deg);
}

.arcady-foto {
  border-radius: 80%;
  max-height: 80px;
  max-width: 80px;

  margin-right: 50px;
}

.creator {
  margin: 0;
  display: inline-block;
}

.arcady {
  color: #fff;
  font-size: 20px;
  font-family: Arial;
  line-height: 28px;
  text-align: left;
  max-width: 280px;
  max-height: 84px;
}

.title-contact {
  margin: 0;
  color: #fff;
  text-align: center;
  font-size: 40px;
  font-family: Arial;
  font-weight: 700;
  line-height: 50px;
  text-transform: uppercase;
}

.text-adress {
  margin: 0;
  color: #fff;
  font-size: 24px;
  font-family: Arial;
  font-weight: 700;
  line-height: 28px;
}

.street {
  margin-bottom: 38px;
}

.img-contact {
  float: left;
  margin-right: 30px;
}

.link {
  text-decoration: none;
  color: #fff;
}

.social-link {
  display: inline;
  margin-right: 26px;
}

.social {
  margin: 0;
  padding: 0;
}

.social-link:last-child {
  margin-bottom: 39px;
}
