.header {
  background: url('../image/halls/vr.png');
  max-width: 1180px;
  min-height: 823px;
  margin: 0;
  background-position: right  bottom;
  background-repeat: no-repeat;
  margin-bottom: 100px;
  
  
}

.title-go {
  color: #fff;
  text-align: left;
  font-size: 160px;
  font-weight: 900;
  line-height: 100%;
  letter-spacing: -15px;
  text-transform: uppercase;
  margin: 0;
  z-index: -1;
  position: relative;


 
}

.text-img {
  margin: 0;
  color: #fff;
  font-size: 28px;
  text-align: center;
  padding-right: 600px;
}

.title-halls {
  color: #fff;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  text-transform: uppercase;
  margin-bottom: 60px;
  margin-top: 0;
}

.hall-80 {
  background-image: url('../image/halls/80s.jpg');
}

.hall-star {
  background-image: url('../image/halls/starwars.jpg');
}

.hall-wild {
  background-image: url('../image/halls/wildwest.jpg');
}

.hall-neon {
  background-image: url('../image/halls/neonstyle.png');
}

.halls {
  margin-bottom: 100px;
}

.halls-item {
  list-style-position: inside;
  margin: 0;
  padding: 0;
}

.hall {
  padding: 275px 485px 275px 484px;
  text-align: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  max-width: 1180px;
  margin-bottom: 60px;
  list-style-type: none;
}

.hall:last-child {
  margin-bottom: 0;
}

.text-hall {
  color: #fff;
  font-size: 70px;
  font-weight: 700;
  line-height: 80px;
  text-transform: uppercase;
  margin: 0;
  max-width: 252px;
}

.title-booking {
  margin: 0;
  color: #fff;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.booking-fieldset {
  margin: 0;
}

.booking {
  margin-bottom: 100px;
}

.title-about-us {
  color: #fff;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 50px;
}

.text {
  margin: 0;
  margin-bottom: 28px;
  color: #fff;
  font-size: 20px;
  line-height: 28px;
}

.text:last-child {
  margin-bottom: 0;
}

.content {
  margin: 0;
  margin-bottom: 78px;
}

.about-us {
  margin-bottom: 100px;
}

.quote {
  margin: 0;
}

.quote-text {
  color: #fff;
  font-size: 44px;
  line-height: 50px;
  text-transform: uppercase;
  margin: 0 0 40px;
  padding: 0 0 0 55px;
  white-space: pre-line;
  position: relative;
}

.quote-go:before {
  color: #6c0287;
  content: '“';
  font-weight: 900;
  position: absolute;
  top: -8px;
  left: 0;
}

.quote-go:after {
  content: '“';
  color: #6c0287;
  font-weight: 900;
}

.arcady-foto {
  border-radius: 50%;
  height: 80px;
  width: 80px;
  margin-right: 30px;
  object-fit: cover;
  object-position: center;
  vertical-align: middle;
}

.creator {
  margin: 0;
  text-align: right;
}

.arcady {
  color: #fff;
  font-size: 20px;
  line-height: 28px;
  max-width: 250px;
  display: inline-block;
  vertical-align: middle;
  text-align: left;
}

.title-contact {
  margin: 0;
  color: #fff;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  text-transform: uppercase;
}

.text-adress {
  margin: 0;
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}

.text-adress {
  padding: 0 0 0 66px;
  max-width: 300px;
  font-style: normal;
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}

.street {
  margin-bottom: 38px;
  background: url('../image/icon/location.svg');
  background-repeat: no-repeat;
  background-position: left;
}

.telefone {
  margin-bottom: 11px;
  background: url('../image/icon/phone.svg');
  background-repeat: no-repeat;
  background-position: left;
}

.email {
  margin-bottom: 39px;
  background: url('../image/icon/mail.svg');
  background-repeat: no-repeat;
  background-position: left;
}

.title-contact {
  margin-bottom: 54px;
}

.link {
  text-decoration: none;
  color: #fff;
}

.social-link {
  display: inline;
  padding-right: 26px;
}

.social {
  margin: 0;
  padding: 0;
}
