.question {
  font-weight: 700;
  font-size: 24px;
  padding: 30px 70px;
  margin-bottom: 20px;
}

.question:last-child {
  margin: 0;
}

.question:nth-child(odd) {
  background-color: #fff;
  color: #1c1a1a;
}

.question:nth-child(even) {
  color: #fff;
  background-color: #440f51;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}
