.question {
  font-weight: 700;
  font-size: 24px;
  padding: 30px 70px;
  margin-bottom: 20px;
  background-repeat: no-repeat;
}

.question:last-child {
  margin: 0;
}

.question:nth-child(odd),
.question:nth-child(even) {
  background-size: 46px;
  background-position: right 70px bottom 20px;
}

.question:nth-child(odd) {
  background-color: #fff;
  color: #1c1a1a;
  background-image: url('../image/icon/open-purple.svg');
}

.question:nth-child(even) {
  color: #fff;
  background-color: #440f51;
  background-image: url('../image/icon/open.svg');
}

.title-question {
  margin: 0;
  margin-bottom: 40px;
  color: #fff;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  text-transform: uppercase;
}

