* {
  box-sizing: border-box;
}

.body {
  padding: 130px 146px 130px 50px;
  margin: 0;
  background-color: #1b1a1b;
  color: #ffffff;
}

.quote {
  text-transform: uppercase;
}

.wrapper {
  margin: 0 auto;
}
