* {
  box-sizing: border-box;
}

.body {
  background-color: #1b1a1b;
  color: #ffffff;
}

.quote {
  text-transform: uppercase;
}

.wrapper {
  max-width: 1200px;
  padding: 30px;
  margin: 0 auto;
}

.question {
  background-color: #fff;
  color: #1c1a1a;
  font-weight: 700;
  font-size: 24px;
  padding: 30px 70px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.question:nth-child(2n + 1) {
  color: #fff;
  background-color: #440f51;
}

.question:nth-child(odd):after {
  content: '';
  width: 30px;
  height: 30px;
  background-image: url('../image/icons/open.svg');
  background-size: contain;
}
.question:nth-child(even):after {
  content: '';
  width: 30px;
  height: 30px;
  background-image: url('../image/icons/open-purple.svg');
  background-size: contain;
}
