.booking__choose-hall-title {
  color: var(--color-white);
  text-align: center;
  font-family: Arial;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  margin-bottom: 40px;
}

@media (max-width: 1090px) {
  .booking__choose-hall-title {
    margin-bottom: 26px;
  }
}

@media (max-width: 896px) {
  .booking__choose-hall-title {
    margin-bottom: 30px;
  }
}

@media (max-width: 640px) {
  .booking__choose-hall-title {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 15px;
  }
  .booking__choose-hall-title_sub {
    margin-bottom: 25px;
  }
}
