.booking__btn{
   color: #000;
   text-align: center;
   font-family: Arial;
   font-size: 30px;
   font-style: normal;
   font-weight: 700;
   line-height: 40px; 
   text-transform: uppercase;
   border-radius: 8px;
   background: #FFF;
   max-width: 250px;
   width: 100%;
   padding: 7px 25px 8px;
   
}

.booking__btn:hover{
   color: #000;
   text-align: center;
   font-family: Arial;
   font-size: 30px;
   font-style: normal;
   font-weight: 700;
   line-height: 40px; 
   text-transform: uppercase;
   border-radius: 8px;
   background: #EADEED;
   max-width: 250px;
   width: 100%;
   padding: 4px 22px 5px;
   border: 3px solid #640AA3;
}

.booking__btn:active{
   color: #FFFFFF;
   text-align: center;
   font-family: Arial;
   font-size: 30px;
   font-style: normal;
   font-weight: 700;
   line-height: 40px; 
   text-transform: uppercase;
   border-radius: 8px;
   background: #6C0287; 
   max-width: 250px;
   width: 100%;
   padding: 4px 21px 4px;
   border: 3px solid #FFFFFF;
 
}

.booking__btn:focus{
   outline: 3px solid #640AA3;
}