.booking__choose-hall {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 710px) {
  .booking__choose-hall {
    display: grid;
    grid-template-columns: repeat(2, minmax(130px, 150px));
    grid-template-rows: repeat(2, 1fr);
    column-gap: 20px;
    row-gap: 14px;
    justify-content: center;
  }
}

@media (max-width: 640px) {
  .booking__choose-hall {
    grid-template-columns: repeat(2, 130px);
  }
}
