.reviews__img{
   border-radius: 50%;
   height: 280px;
   width: 280px;
   object-fit: cover;
   object-position: top;
   vertical-align: middle;
   margin-bottom: 11px;
}

.img-nikita{
   object-position: center;
}

