.reviews__img{
   border-radius: 50%;
   height: 280px;
   width: 280px;
   object-fit: cover;
   object-position: top;
   vertical-align: middle;
   margin-bottom: 11px;
   position: relative;
   z-index: -1;
}

.gradient-img{
   background: radial-gradient( 50% 50% at 50% 50%, rgba(196, 196, 196, 0.00) 30%, rgba(108, 2, 135, 0.50) 100%);
   border-radius: 50%;
   height: 280px;
   width: 280px;
}

.reviews__img_nikita{
   object-position: unset;
}

