.book {
  display: flex;
  border-radius: 10px;
  background: var(--color-button);
  color: var(--color-white);
  font-family: Arial;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  padding: 25px 69px;
  max-width: 374px;
  box-shadow: 0 0 15px var(--color-button);
  z-index: -1;
}

.book:hover,
.book:focus {
  background: #840aa3;
  transition-duration: 0.4s;
  transition-property: background-color;
}

.book:active {
  background: #640aa3;
  transition-duration: 0.4s;
  transition-property: background-color;
}

@media (max-width: 1090px) {
  .book {
    position: relative;
    left: 39px;
    font-size: 22px;
    padding: 17px 48px;
    max-width: 296px;
  }
}

@media (max-width: 896px) {
  .book {
    border-radius: 4px;
    left: 0;
    font-size: 16px;
    padding: 11px 35px;
    max-width: 214px;
  }
}

@media (max-width: 640px) {
  .book {
    font-size: 10px;
    padding: 0 13px;
    max-width: 117px;
  }
}
