.down-button {
  max-width: 97px;
}

.down-button:hover svg circle {
  fill: #ffffff;
}

.down-button:hover svg {
  transform: scale(108%);
  transition: 0.8s;
}

.down-button:hover svg rect {
  fill: #6c0287;
  transition: 0.8s;
}

.down-button:active svg circle {
  fill: #6c0287;
  stroke: #6c0287;
  transition: 0.4s;
}

.down-button:active svg rect {
  fill: #ffffff;
}

.down-button:focus {
  outline: 1px solid #cd06ff;
  transition-duration: 0.4s;
}

@media (max-width: 1090px) {
  .down-button {
    max-width: 67px;
  }
}
