.down-button-block {
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 40px;
}

@media (max-width: 1090px) {
  .down-button-block {
    position: relative;
    bottom: 45px;
  }
}

@media (max-width: 896px) {
  .down-button-block {
    display: none;
  }
}
