.reviews__text {
   display: inline-block;
  color: #FFF;
  font-family: Arial;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  padding-top: 50px;
  vertical-align: top;
  max-width: 670px;
}