.halls__item_bg_80s {
  background-image: url(../../../image/halls/80s.jpg);
}

.halls__item_bg_wild {
  background-image: url(../../../image/halls/wildwest.jpg);
}

.halls__item_bg_star {
  background-image: url(../../../image/halls/starwars.jpg);
}
