.questions__item {
  font-weight: 700;
  font-size: 24px;
  padding: 30px 70px;
  margin-bottom: 20px;
  background-repeat: no-repeat;
  background-size: 46px;
  background-position: right 70px bottom 20px;
}

.questions__item:last-child {
  margin: 0;
}

.questions__item:nth-child(even) {
  color: #fff;
  background-color: #440f51;
  background-image: url('../../../image/icon/open.svg');
}

.questions__item:nth-child(odd) {
  background-color: #fff;
  color: #1c1a1a;
  background-image: url('../../../image/icon/open-purple.svg');
}
