.questions__item {
  font-weight: 700;
  font-size: 24px;
  padding: 20px 70px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 1s;
}

.questions__item:last-child {
  margin: 0;
}

.questions__item:nth-child(even) {
  color: #fff;
  background-color: #440f51;
}

.questions__item:nth-child(odd) {
  color: #1c1a1a;
  background-color: #fff;
}


.questions__item_svg-purple:hover svg circle{
  stroke: #6C0287;
 
 }
 
 .questions__item_svg-purple:hover svg path{
   fill: #fff;
   transition: 1s;
 }
 

 .questions__item_svg-purple:hover svg{
   background-image: url('../../../image/icon/open-hover.svg');
   transition: 0.6s;
   transform: scale(110%);
 }
 
 .questions__item_svg-purple:active svg {
    background-image: url('../../../image/icon/open-active.svg');
    transition: 0.3s;
 }
 
 .questions__item_svg-purple:active svg path{
    opacity: 0;
  }
 
 .questions__item_svg-white:hover svg path{
   fill: #6C0287;
   transition: 1s;

 }
 
  .questions__item_svg-white:hover svg{
    background-image: url('../../../image/icon/open-hover-even.svg');
    transition: 0.6s;
    transform: scale(110%);
  }
 
  .questions__item_svg-white:active svg{
    background-image: url('../../../image/icon/open-active-even.svg');
    transition: 0.3s;
  }
 
  .questions__item_svg-white:active svg path{
    opacity: 0;
  }