.questions__item {
  padding: 20px 70px;
  display: grid;
  grid-template-areas:
    'text button'
    'accText accText';
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.questions__items {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 20px;
}
.questions__items_sub {
  margin-bottom: 0;
}
.questions__item {
  grid-area: text;
}

.questions__svg {
  grid-area: button;
  justify-self: end;
}

.questions__text-num {
  font-weight: 700;
}

.questions__text {
  color: black;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  padding: 57px 70px 69px 70px;
}

.questions__text-wrapp {
  background-color: #fff;
  grid-area: accText;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.6s ease-in-out;
}

.questions__item_actv {
}

.questions__items:last-child {
  margin: 0;
}

.questions__item_purple {
  color: var(--color-white);
  background-color: #440f51;
}

.questions__item_white {
  color: #1c1a1a;
  background-color: var(--color-white);
}

.questions__items_svg-purple:hover svg circle {
  stroke: #6c0287;
}

.questions__items_svg-purple:hover svg {
  transform: rotate(360deg) scale(1.2);
  transition: 0.6s;
}

.questions__items_svg-purple:active svg path:first-child {
  opacity: 0;
}

/* .questions__items_svg-purple:focus svg path:first-child {
  opacity: 0;
} */

.questions__items_svg-purple:hover svg path:first-child {
  opacity: 0;
  transform: rotate(360deg) scale(1.2);
  transition: 0.6s;
}

.questions__items_svg-white:hover svg {
  transform: rotate(360deg) scale(1.2);
  transition: 0.6s;
}

.questions__items_svg-white:active svg path:first-child {
  opacity: 0;
}

.questions__items_svg-white:hover svg path:first-child {
  opacity: 0;
  transform: rotate(360deg) scale(1.2);
  transition: 0.6s;
}

/* .questions__items_svg-white:focus svg path:first-child {
  opacity: 0;
} */

@media (max-width: 1090px) {
  .questions__text,
  .questions__text-num {
    font-size: 20px;
  }

  .questions__text {
    padding: 47px 20px 69px 20px;
  }

  .questions__item {
    font-size: 20px;
    line-height: 24px;
    padding: 23px 20px 23px 25px;
  }

  .questions__items_sub {
    margin-bottom: 0;
  }
  .questions__item_purple {
    color: #1c1a1a;
    background-color: var(--color-white);
  }

  .questions__items_svg-white svg circle {
    stroke: #6c0287;
  }

  .questions__items_svg-white svg path {
    fill: #6c0287;
  }

  .questions__item:last-child {
    display: none;
  }
}

@media (max-width: 896px) {
  .questions__text,
  .questions__text-num {
    font-size: 14px;
  }

  .questions__item {
    font-size: 18px;
    line-height: 24px;
    padding: 30px 65px 29px 54px;
  }

  .questions__text {
    padding: 37px 65px 60px 54px;
  }
  .questions__items:not(.questions__items_sub) {
    margin-bottom: 16px;
  }
}

@media (max-width: 640px) {
  .questions__text,
  .questions__text-num {
    font-size: 12px;
  }

  .questions__text {
    padding: 27px 13px 40px 13px;
  }

  .questions__item {
    font-size: 12px;
    line-height: 16px;
    padding: 7px 13px;
  }
  .questions__items:not(.questions__items_sub) {
    margin-bottom: 10px;
  }
  .questions__item svg {
    width: 30px;
    height: 30px;
  }
}
