
.navigation__link-ico:hover svg path{
 fill: #EADEED;
 transition-duration: 0.5s;

}

.navigation__link a:active svg path{
 fill: #CD06FF;
}

 .navigation__link-ico:focus svg path{
  fill: #EADEED;
  
}  

.navigation__link-ico:focus svg{
  outline: 1px solid #CD06FF;
} 

