.about-us__quote-text {
  color: #fff;
  font-size: 44px;
  line-height: 50px;
  text-transform: uppercase;
  margin-bottom: 40px;
  padding: 0 0 0 35px;
  white-space: pre-line;
  position: relative;
  max-width: 469px;
}

.about-us__quote-text:after {
  content: ' ”';
  color: #6c0287;
  font-weight: 900;
}

.about-us__quote-text:before {
  color: #6c0287;
  content: '“';
  font-weight: 900;
  position: absolute;
  top: 0;
  left: 10px;
}
