.about-us__quote-text {
  color: var(--color-white);
  font-size: 44px;
  line-height: 50px;
  text-transform: uppercase;
  margin-bottom: 40px;
  padding: 0 0 0 35px;
  white-space: pre-line;
  position: relative;
}

.about-us__quote-text:after {
  content: ' ”';
  color: #6c0287;
  font-weight: 900;
}

.about-us__quote-text:before {
  color: #6c0287;
  content: '“';
  font-weight: 900;
  position: absolute;
  top: -11px;
  left: 0px;
}

@media (max-width: 1090px) {
  .about-us__quote-text {
    font-size: 30px;
    line-height: 36px;
    white-space: normal;
    max-width: 419px;
    padding-left: 20px;
    margin-bottom: 13px;
  }
}

@media (max-width: 896px) {
  .about-us__quote-text {
    font-size: 32px;

    max-width: 666px;
    padding-left: 20px;
    margin-bottom: 16px;
  }
}

@media (max-width: 640px) {
  .about-us__quote-text {
    font-size: 18px;
    line-height: 26px;
    max-width: 666px;
    padding-left: 10px;
    margin-bottom: 9px;
  }
}
