/* .overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 50px 20px;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  transition: top 0.5s ease;
} */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 50px 20px;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s ease, visibility 0.4s ease;
}

.overlay_show-visibility {
  opacity: 1;
  visibility: visible;
}

@media (max-width: 390px) {
  .overlay {
    padding: 20px;
  }
}
