.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  min-height: 100vh;
  padding: 50px 20px;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

@media (max-width: 390px) {
  .overlay {
    padding: 20px;
  }
}
