.header {
  padding-top: 30px;
}

@media (max-width: 896px) {
  .header {
    padding-top: 32px;
    height: 87px;
  }
}

@media (max-width: 640px) {
  .header {
    height: 62px;
    padding-top: 20px;
  }
}
