.menu-but {
  display: none;
}

.menu-but-sub {
  display: none;
}

.menu-but:hover rect {
  fill: #cd06ff;
}

.menu-but:active rect {
  fill: #840aa3;
}

.menu-but:focus {
  outline: 1px solid #840aa3;
  padding: 10px 0;
}

@media (max-width: 896px) {
  .menu-but {
    display: block;
    cursor: pointer;
  }

  .menu-but:hover rect {
    fill: none;
  }

  .menu-but:active rect {
    fill: none;
  }

  .menu-but:focus {
    outline: none;
    padding: 0;
  }
}

@media (max-width: 640px) {
  .menu-but {
    width: 39px;
    height: 21px;
  }

  .menu-but-sub {
    width: 31px;
    height: 30px;
  }

  .menu-but:focus {
    padding: 0;
  }
}
