.back-btn {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
  color: var(--color-white);
  font-family: Arial;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
}

.back-btn:hover {
  transform: scale(102%);
  transition-duration: 0.4s;
  color: #eadeed;
}

.back-btn:hover svg path {
  fill: #cd06ff;
  transition-duration: 0.4s;
}

.back-btn:active {
  color: #cd06ff;
  transition-duration: 0.2s;
}

.back-btn:focus svg path {
  fill: #eadeed;
}

.back-btn:focus {
  outline: 1px solid #cd06ff;
}

@media (max-width: 896px) {
  .back-btn {
    font-size: 16px;
  }
}

@media (max-width: 640px) {
  .back-btn {
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 15px;
  }
  .back-btn svg {
    width: 16px;
  }
}
