.halls__item {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
  display: flex;
  font-size: 70px;
  font-weight: 700;
  line-height: 80px;
  text-transform: uppercase;
  padding: 94px 164px 95px;
  text-align: center;
  max-width: 580px;
  justify-content: center;
  transition: 0.4s;
}

.halls__item:hover{
  transform: scale(1.06);
  transition:  0.5s;
  box-shadow: 0 0 3px 1px #fff;
}