.header__item{
   color: #FFF;
   font-family: Arial;
   font-size: 22px;
   font-style: normal;
   font-weight: 400;
   line-height: 50px; 
   text-transform: uppercase;
   
}

/* .header__item {
   border: 1px solid transparent;
} */

.header__item:hover {
   border-bottom: 1px solid #CD06FF;
  /* display: table; 
  line-height: 36px; 
  transition: 465ms; */
  transform: scale(1.08);
  transition-duration: 0.6s;
  /* border: 1px solid transparent;
  border-image: linear-gradient(to right top, #CD06FF 10%,  transparent 30%, transparent 70%,  #CD06FF 90%);
  border-image-slice: 1; */
}


.header__item a:active, .header__item a:focus{
   color: #CD06FF;
   transition-duration: 0.2s;
}