.block {
  display: flex;
  justify-content: space-between;
  margin-bottom: 156px;
  /* max-block-size: 274px; */
}

@media (max-width: 1090px) {
  .block {
    margin-bottom: 95px;
    gap: 50px;
  }
}

@media (max-width: 975px) {
  .block {
    flex-direction: column;
    align-items: center;
    gap: 0;
  }
}

@media (max-width: 896px) {
  .block {
    margin-bottom: 75px;
  }
}

@media (max-width: 640px) {
  .block {
    margin-bottom: 63px;
  }
}
