.contact {
  padding-top: 50px;
}

@media (max-width: 1090px) {
  .contact {
    padding-top: 35px;
  }
}
@media (max-width: 896px) {
  .contact {
    padding-top: 30px;
  }
}

@media (max-width: 640px) {
  .contact {
    padding-top: 15px;
  }
}
