.reviews__name {
  color: var(--color-white);
  font-family: Arial;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  min-height: 28px;
}

@media (max-width: 1090px) {
  .reviews__name {
    font-size: 18px;
    line-height: 26px;
  }
}

@media (max-width: 896px) {
  .reviews__name {
    font-size: 14px;
    line-height: 20px;
  }
}
