.booking-btn{
   border-radius: 10px;
   background:  var(--color-white);
   color:   var(--color-button);
   font-family: Arial;
   font-size: 26px;
   font-style: normal;
   font-weight: 700;
   line-height: 30px; 
   text-transform: uppercase;
   max-width: 300px;
   min-height: 60px;
}

.booking-btn:hover{
   border-radius: 10px;
   background:  #EADEED;
   color:   var(--color-button);
   font-family: Arial;
   font-size: 26px;
   font-style: normal;
   font-weight: 700;
   line-height: 30px; 
   text-transform: uppercase;
   max-width: 300px;
   min-height: 60px;
   border: 3px solid var(--color-button);
   /* transition: all 0.2s ease; */
   transition-duration: 200ms;
   transition-property: background-color, border;
  
}

.booking-btn:active:focus-within{
   border-radius: 10px;
   background:  #EADEED;
   color:   var(--color-button);
   font-family: Arial;
   font-size: 26px;
   font-style: normal;
   font-weight: 700;
   line-height: 30px; 
   text-transform: uppercase;
   max-width: 300px;
   min-height: 60px;
   border: 3px solid #EADEED;
   transition: all 0.5s ease;
  
}

.booking-btn:focus{
  
   border: 3px solid var(--color-button);
  transition: 0.2s;
}