.navigation__social {
  max-height: 50px;
  display: flex;
  gap: 26px;
}

@media (max-width: 896px) {
  .navigation__social {
    /* justify-content: space-between; */
    justify-content: center;
  }
}
