

.questions__item_svg-purple:hover svg circle{
 stroke: #6C0287;
}

.questions__item_svg-purple:hover svg{
  background-image: url('../../../image/icon/open-hover.svg');
}


.questions__item_svg-purple:active svg{
   background-image: url('../../../image/icon/open-active.svg')
}

.questions__item_svg-purple:active svg path{
   opacity: 0;
 }

 .questions__item_svg-white:hover svg{
   background-image: url('../../../image/icon/open-hover-even.svg');
 }

 .questions__item_svg-white:active svg{
   background-image: url('../../../image/icon/open-active-even.svg');
 }

 .questions__item_svg-white:active svg path{
   opacity: 0;
 }