.contact__adress {
  color: var(--color-white);
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  padding: 0 0 0 66px;
  max-width: 330px;
  font-style: normal;
  display: block;
}


.contact__adress_effects:hover{
  color: #EADEED;
  
} 

 .contact__adress_effects:active{
  color: #CD06FF;
  transition-duration: 0.5s;
  
} 

.contact__adress_effects:focus{
  outline:  1px solid #CD06FF;
}