.wehave__title{
   color: #FFF;
   text-align: center;
   font-family: Arial;
   font-size: 40px;
   font-style: normal;
   font-weight: 700;
   line-height: 50px; 
   text-transform: uppercase;
   white-space: pre-line;
   margin-bottom: 41px;
}