.block-data__data {
  text-align: center;
  color: #211e1e;
  font-family: Arial;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  border: 0;
  min-height: 52px;
  max-width: 134px;
  /* max-width: calc(50% - 16px);
  flex-shrink: 0;
  flex-grow: 1; */
}
.block-data__data-time {
  max-width: 134px;
  width: 100%;
}
.block-data__data::-webkit-calendar-picker-indicator {
  background-image: url('../../../image/icon/arrow.png');
}

.block-data__data:focus {
  outline: 2px solid #cd06ff;
  transition-duration: 0.2s;
}
