.block-data__data {
   width: 134px;
   height: 52px;
   text-align: center;
   color: #211E1E;
   font-family: Arial;
   font-size: 18px;
   font-style: normal;
   font-weight: 400;
   line-height: 28px;
}
.data{
   width: 21px;
   height: 15px;
}