.container-data__human{
   width: 300px;
   height: 52px;
   text-align: center;
   color: #211E1E;
   font-family: Arial;
   font-size: 18px;
   font-style: normal;
   font-weight: 400;
   line-height: 28px;
}