.container-data__human {
  /* width: 100%; */
  padding: 14px;
  color: #211e1e;
  font-family: Arial;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

.container-data__human:focus {
  outline: 2px solid #cd06ff;
  transition-duration: 0.2s;
}
