.fourhalls {
  display: inline-flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 193px;
}

.fourhalls:not(:last-child) {
  margin-right: 40px;
}

@media (max-width: 1090px) {
  .fourhalls:not(:last-child) {
    margin-right: 0;
  }
}

@media (max-width: 896px) {
  .fourhalls {
    max-width: 103px;
  }
}

@media (max-width: 640px) {
  .fourhalls {
    max-width: 65px;
  }
  .fourhalls:not(:last-child) {
    margin-right: 5px;
  }
}
