.fourhalls__new{
   color: #CD06FF;
   font-family: Arial Black;
   font-size: 75px;
   font-style: normal;
   font-weight: 900;
   line-height: normal;
   font-variant: all-small-caps;
   text-align: center;
   margin-bottom: 8px;

}