.whatis-container {
  margin-bottom: 150px;
}
@media (max-width: 1090px) {
  .whatis-container {
    margin-bottom: 80px;
  }
}

@media (max-width: 896px) {
  .whatis-container {
    margin-bottom: 100px;
  }
}

@media (max-width: 640px) {
  .whatis-container {
    margin-bottom: 30px;
  }
}
