.header__list {
  display: flex;
  gap: 40px;
}

.overlay-burger-menu {
  position: absolute;
  top: 107px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  transition: opacity 0.5s ease;
}

.overlay-content {
  position: relative;
  z-index: 2;
}

.callback_burger-menu {
  display: none;
}

.header__list-burger-menu {
  display: none;
}

@media (max-width: 1090px) {
  .header__list {
    gap: 20px;
  }
}

@media (max-width: 896px) {
  .header__list {
    display: none;
  }

  .header__list-burger-menu {
    position: absolute;
    text-align: center;
    width: 100%;
    padding-top: 59px;
    padding-bottom: 59px;
    background-color: #1b1a1b;
    display: none;
  }
}

@media (max-width: 640px) {
  .callback_burger-menu {
    position: relative;
    font-size: 14px;
    padding: 11px 23px;
    top: 310px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    transition: top 0.5s ease;
  }

  .header__list-burger-menu {
    padding-top: 39px;
    padding-bottom: 110px;
  }
  .overlay-burger-menu {
    top: 70px;
  }
}
